*.log
/__pycache__/
/.vs/
/.vscode/
/text_files/original.txt
/text_files/edited.txt

#if you want to write down your key or other personal notes without pushing them to the repository:
personal_notes.txt
