{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
    
{% block main %}
    <div style="text-align:center">
        <h1>Welcome to Post Editor!</h1>
        <br>
    </div>
    <div style="text-align:center">
        <img src="/static/robot_working.png" style="width:50%;height:50%;">
    </div>
    <br>
    <h2>How it works:</h2>
    <p>Upload a .txt file of almost any size (limit 16MB) that needs some touchup to the spelling, grammar, punctuation, and other style specifics.
        The application will then submit your file to be edited by OpenAI's GPT-3. 
    </p>
    <p>Keep in mind that requests take about fifteen seconds per thousand words.
    </p>
    <div style="text-align: left; margin: 0% !important;">
        
            <h3>Enter your OpenAI API Key</h3>
            <h3>Don't have an OpenAI key?<a href="https://openai.com/blog/openai-api">Get one here.</h3></a>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div>
                <input id="key" name="key" class="form-control mb-2 mr-sm-2" placeholder="Key" type="password">
            </div>
            <br>
            <h4>Upload a Word document (.docx)</h4>
            <div class="mb-3">
                <label for="fileUpload" class="form-label"></label>
                <input class="form-control" type="file" name="file" id="file">
            </div>
            <div>
                <button class="btn btn-dark" type="submit" name="upload" value="upload_file">Submit file</button>    
            </div>
            <br><br>
            <h4>Or paste your text below</h4>
            <div class="form-group">
                <textarea class="form-control" id="text_box" name="text_box" rows="5"></textarea>
            </div>
            <br>
            <div>
                <button class="btn btn-dark" type="submit" name="upload" value="upload_text">Submit text</button>    
            </div>
        </form>
        <br><br><br><br><br>
    </div>
{% endblock %}